.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
}

.cardWrapper {
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
}

.photoCard {
    border: none;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    position: relative;
}

.photoCard:hover {
    transform: translateY(-5px);
}

.photoImg {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
}

.favoriteIcon {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 1;
}

.favoriteIcon:hover,
.filled {
    color: #ff4d4d;
}

.photographer {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photoCard:hover .overlay {
    opacity: 1;
}

.overlayButton {
    background-color: white;
    color: #f76b8a;
    border-color: #f76b8a;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
    margin-top: 1rem;
}

.overlayButton:hover {
    background-color: #f76b8a;
    color: white;
}

.overlayTitle {
    color: white;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .overlayTitle {
        font-size: 1rem;
    }

    .overlayButton {
        font-size: 0.8rem;
    }
}